# Rules for filenames to exclude from the git repo.

# Windows / Visual Studio build/temporary/user directories
.vs/
Debug/
DebugMD/
Release/
ReleaseMD/
x64/
Win32/
ipch/
build/

# Windows / Visual Studio build/temporary/user files (some of these may be old)
.tfignore
*.obj
*.pdb
*.lib
*.ilk
*.sdf
*.pch
*.exe
*.dll
*.manifest
*.vcxproj.user
*.sln.docstates
*.idb
*.vspscc
*.vssscc
*.VC.db
*.VC.opendb
# *.vsp
# *.suo
# *.ncb
# *.opensdf
# *.sdf
# *.cachefile
# I introduced the next one in hmake to expand environment variables before msbuild.exe
*_eval_var.sln
*.lastcodeanalysissucceeded

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Google
/BUILD
/*.bzl
/METADATA
/OWNERS
/test/google_run_test.sh
/mesh_processing.blueprint

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Backup & report files from converting an old project file to a newer Visual Studio version
# _UpgradeReport_Files/
# Backup*/
# UpgradeLog*.XML
# UpgradeLog*.htm

# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Mac desktop service store files
.DS_Store

# Unix compilation
*.o
*.a
*.asm
*.gch

# My intermediate files
built_*
Makefile.dep
*.ou
*.diff

# Emacs
*~
\#*\#
.\#*

# RCS version control
RCS/

# Specific paths
/TAGS

/bin/unix/*
!/bin/unix/.gitignore
/test/A3dStream_test
/test/Args_test
/test/Array_test
/test/Atomic_test
/test/Audio_test
/test/Buffer_test
/test/Combination_test
/test/Contour_test
/test/EList_test
/test/Encoding_test
/test/Facedistance_test
/test/FrameIO_test
/test/GMesh_test
/test/Geometry_test
/test/GraphOp_test
/test/Graph_test
/test/GridOp_test
/test/Grid_test
/test/HashFloat_test
/test/HashPoint_test
/test/HashTuple_test
/test/Hh_test
/test/HiddenLineRemoval_test
/test/Homogeneous_test
/test/Image_test
/test/Kdtree_test
/test/LLS_test
/test/LinearRegression_test
/test/Locks_test
/test/Map_test
/test/MathOp_test
/test/Matrix_test
/test/MeshSearch_test
/test/Mesh_test
/test/Mk3d_test
/test/Mklib_test
/test/Multigrid_test
/test/NetworkOrder_test
/test/NonlinearOptimization_test
/test/PArray_test
/test/PolygonFaceSpatial_test
/test/Polygon_test
/test/Pool_test
/test/Postscript_test
/test/Pqueue_test
/test/Principal_test
/test/Quaternion_test
/test/Queue_test
/test/Random_test
/test/RangeOp_test
/test/SGrid_test
/test/STree_test
/test/Sac_test
/test/Set_test
/test/SimpleTimer_test
/test/Spatial_test
/test/Stack_test
/test/Stat_test
/test/StridedArray_test
/test/Timer_test
/test/UnionFind_test
/test/Vec_test
/test/Vector4_test
/test/Vector4i_test
/test/VectorF_test
/test/Vector_test

/demos/data/cactus.recon.m
/demos/data/cactus.opt.m
/demos/data/cactus.sub0.m
/demos/data/cactus.sub2limit.m
/demos/data/distcap.recon.m
/demos/data/distcap.opt.m
/demos/data/distcap.sub0.m
/demos/data/distcap.sub2limit.m
/demos/data/curve1.opt.a3d
/demos/data/curve1.joined.a3d
/demos/data/curve1.recon.a3d
/demos/data/blob5.meshopt.simplified.m
/demos/data/gaudipark.orig.m
/demos/data/gaudipark.pm
/demos/data/club.pm
/demos/data/club.nf1000.m
/demos/data/standingblob.geomorphs
/demos/data/standingblob.nf20000.ohull.pm
/demos/data/office.nf80000.orig.m
/demos/data/office.nf80000.sr.pm
/demos/data/gcanyon_sq200.orig.m
/demos/data/gcanyon_sq200.pm
/demos/data/gcanyon_sq129_b44.l-1.stitched.pm
/demos/data/gcanyon_sq129_b44.l0.stitched.pm
/demos/data/gcanyon_sq129_b44.l1.stitched.pm
/demos/data/gcanyon_sq129_b44.l1.stitched.new.base.m
/demos/data/gcanyon_sq129_b44.l1t.stitched.pm
/demos/data/gcanyon_sq129_b44.l2.pm
/demos/data/create_terrain_hierarchy.log
/demos/data/small_stell_dodecahedron4.nsub4.vertexcache.m
/demos/data/office.nf200000.mincycles.m
/demos/data/mechpart.image.bmp
/demos/data/mechpart.video.mp4
/demos/data/mechpart.hlr.ps
/demos/data/texture.output.png
/demos/data/2dvectest.hashtex.fx
/demos/data/2dvectest.poshash.png
/demos/data/2dvectest.hpos.png
/demos/data/2dvectest.hdata.png
/demos/data/2dvectest.offset.png
/demos/data/2dvectest.visual_offset.png
/demos/data/2dvectest.reconstructed.png
/demos/data/palmtrees_small_loop.mp4
