# Rules for filenames to exclude from the git repo.

# Windows / Visual Studio build/temporary/user directories
.vs/
Debug/
DebugMD/
Release/
ReleaseMD/
x64/
Win32/
ipch/
build/

# Windows / Visual Studio build/temporary/user files (some of these may be old)
.tfignore
*.obj
*.pdb
*.lib
*.ilk
*.sdf
*.pch
*.exe
*.dll
*.manifest
*.vcxproj.user
*.sln.docstates
*.idb
*.vspscc
*.vssscc
*.VC.db
*.VC.opendb
# *.vsp
# *.suo
# *.ncb
# *.opensdf
# *.sdf
# *.cachefile
# I introduced the next one in hmake to expand environment variables before msbuild.exe
*_eval_var.sln

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Backup & report files from converting an old project file to a newer Visual Studio version
# _UpgradeReport_Files/
# Backup*/
# UpgradeLog*.XML
# UpgradeLog*.htm

# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Mac desktop service store files
.DS_Store

# Unix compilation
*.o
*.a
*.asm
*.gch

# My intermediate files
built_*
Makefile.dep
*.ou
*.diff

# PoliCheck output I generated
policheck_*.xls
policheck_*.xml

# Emacs
*~
\#*\#

# RCS version control
RCS/

# Specific paths
/TAGS
/lib_src/
/_old/
/G3dOGL/other/
/G3dOGL/render_perf/
/gpuhash/*.zip
/Htest/Old/
/HTest/icons/
/demos/Old/
/include/*/
/test/*/
/_other/*.zip
/bin/cygwin/bu_dll/
/progtest/data/

/bin/unix/*
!/bin/unix/.gitignore
/test/tA3dStream
/test/tArgs
/test/tArray
/test/tAtomic
/test/tAudio
/test/tBuffer
/test/tCombination
/test/tContour
/test/tEList
/test/tEncoding
/test/tFacedistance
/test/tFrameIO
/test/tGMesh
/test/tGeometry
/test/tGraph
/test/tGraphOp
/test/tGrid
/test/tGridOp
/test/tHashFloat
/test/tHashPoint
/test/tHashTuple
/test/tHh
/test/tHiddenLineRemoval
/test/tHomogeneous
/test/tImage
/test/tKdtree
/test/tLLS
/test/tLinearRegression
/test/tLocks
/test/tMap
/test/tMathOp
/test/tMatrix
/test/tMesh
/test/tMeshSearch
/test/tMk3d
/test/tMklib
/test/tMultigrid
/test/tNetworkOrder
/test/tNonlinearOptimization
/test/tPArray
/test/tPolygon
/test/tPolygonFaceSpatial
/test/tPool
/test/tPostscript
/test/tPqueue
/test/tPrincipal
/test/tQuaternion
/test/tQueue
/test/tRandom
/test/tRangeOp
/test/tSGrid
/test/tSTree
/test/tSac
/test/tSet
/test/tSpatial
/test/tStack
/test/tStat
/test/tStridedArray
/test/tTimer
/test/tUnionFind
/test/tVec
/test/tVector
/test/tVector4
/test/tVector4i
/test/tVectorF

# /demos/data/

/demos/data/cactus.recon.m
/demos/data/cactus.opt.m
/demos/data/cactus.sub0.m
/demos/data/cactus.sub2limit.m
/demos/data/distcap.recon.m
/demos/data/distcap.opt.m
/demos/data/distcap.sub0.m
/demos/data/distcap.sub2limit.m
/demos/data/curve1.opt.a3d
/demos/data/curve1.joined.a3d
/demos/data/curve1.recon.a3d
/demos/data/blob5.meshopt.simplified.m
/demos/data/gaudipark.orig.m
/demos/data/gaudipark.pm
/demos/data/club.pm
/demos/data/club.nf1000.m
/demos/data/standingblob.geomorphs
/demos/data/standingblob.nf20000.ohull.pm
/demos/data/office.nf80000.orig.m
/demos/data/office.nf80000.sr.pm
/demos/data/gcanyon_sq200.orig.m
/demos/data/gcanyon_sq200.pm
/demos/data/gcanyon_sq129_b44.l-1.stitched.pm
/demos/data/gcanyon_sq129_b44.l0.stitched.pm
/demos/data/gcanyon_sq129_b44.l1.stitched.pm
/demos/data/gcanyon_sq129_b44.l1.stitched.new.base.m
/demos/data/gcanyon_sq129_b44.l1t.stitched.pm
/demos/data/gcanyon_sq129_b44.l2.pm
/demos/data/create_terrain_hierarchy.log
/demos/data/small_stell_dodecahedron4.nsub4.vertexcache.m
/demos/data/office.nf200000.mincycles.m
/demos/data/mechpart.image.bmp
/demos/data/mechpart.video.mp4
/demos/data/mechpart.hlr.ps
/demos/data/texture.output.png
/demos/data/2dvectest.hashtex.fx
/demos/data/2dvectest.poshash.png
/demos/data/2dvectest.hpos.png
/demos/data/2dvectest.hdata.png
/demos/data/2dvectest.offset.png
/demos/data/2dvectest.visual_offset.png
/demos/data/2dvectest.reconstructed.png
/demos/data/palmtrees_small_loop.mp4

# Do include some specific precompiled libraries (confirm using "git status -uall" or "git add -n .")
# !/Filterterrain/ptclib/PTC_2012_64bit/*
!/Filterterrain/ptclib/x64/
!/Filterterrain/ptclib/x64/*
!/Filterterrain/ptclib/Win32/
!/Filterterrain/ptclib/Win32/*
